*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #334;
    font-family: sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.row{
    max-width: 1300px;
    background-color: #334;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.row #select{
    background-color: #fff;
    border: none;
    outline: none;
    appearance: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    overflow-wrap: auto;
}
.row .input-seach{
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: #ffff;
    padding: 10px;
    background-color: transparent;
}
.row .btn-search{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 5px;
}
.row .btn-search:hover{
    background-color: #ccc;
    color: #334;
}
.row .head-title{
    background-color: #334;
    color: #eeff00;
    padding: 20px;
    font-size: 42px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
.list-item{
    margin: auto;
}
.video-pleyer{
    width: 600px;
    max-width: 95%;
    height: 380px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 30px;
}
.video-tag{
    padding: 15px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}
.btn-block{
    display: flex;
    justify-content: center;
}
#btn-next, 
#btn-prev{
    border: 1px solid #fff;
    padding: 0 20px;
    margin: 0 10px 20px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 32px;
    font-weight: 900;
}
@media only screen and (min-width:614px) and (max-width: 787px){
    .row .head-title{
        font-size: 24px;
    }
    .row #select{
        font-size: 16px;
    }
    .row .input-seach{
        width: 200px;
    }
}
@media only screen and (min-width:481px) and (max-width: 613px){
    .row .head-title{
        font-size: 18px;
    }
    .row #select{
        padding: 10px;
        font-size: 14px;
    }
    .row .input-seach{
        font-size: 16px;
        width: 160px;
    }
    .row .btn-search{
        font-size: 14px;
    }
}
@media only screen and (max-width: 480px){
    .video-pleyer{
        height: 220px;
        margin-left: 10px;
    }
    .video-title{
        font-size: 28px;
        left: 0px;
    }
    .row{
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .row .head-title{
        width: 100%;
        font-size: 18px;
    }
    .row #select{
        font-size: 12px;
    }
    .row .input-seach{
        max-width: 160px;
        padding: 5px 0px;
    }
    .row .input-seach::placeholder{
        font-size: 16px;
    }
    #btn-next, 
    #btn-prev{
        font-size: 22px;
    }
}