*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #334;
    font-family: sans-serif;
}
.row{
    width: 100%;
    background-color: #334;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 3;
}

#select{
    background-color: #fff;
    border: none;
    outline: none;
    appearance: none;
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    overflow-wrap: auto;
}
.input-seach{
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: #ffff;
    padding: 10px;
    background-color: transparent;
}
.btn-search{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0;
    border-radius: 5px;
}
.btn-search:hover{
    background-color: #ccc;
    color: #334;
}
.head-title{
    background-color: #334;
    color: #eeff00;
    padding: 20px;
    font-size: 42px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
.list-item{
    margin: auto;
}
.video-pleyer{
    width: 600px;
    max-width: 95%;
    height: 380px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 30px;
}
.video-tag{
    padding: 15px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}
@media only screen and (max-width: 480px){
    .video-pleyer{
        height: 220px;
        margin-left: 10px;
    }
    .video-title{
        font-size: 28px;
        left: 0px;
    }
    .row{
        flex-wrap: wrap;
    }
    .head-title{
        width: 100%;
        font-size: 18px;
    }
    .input-seach{
        width: 170px;
        /* margin-left: 200px; */
        padding: 5px 0px;
    }
    .input-seach::placeholder{
        font-size: 18px;
    }
}